@model WebEnterprise.Models.Contribution

@{
    ViewBag.Title = "Edit Contribution";
    Layout = "_Layout";
}
<div class="page-container">
    <div class="form-container" >
        <form asp-action="Edit" method="post" enctype="multipart/form-data" class="input-form">
            <h1>Edit Contribution</h1>
            <input type="hidden" asp-for="Id" />

            <div class="input-field">
                <ion-icon name="book-outline"></ion-icon>
                <input asp-for="Title" />
                <label asp-for="Title">Title</label>
            </div>

            <div class="input-field" style="height: 100px; border: 2px solid #162938;">
                <ion-icon name="document-text-outline"></ion-icon>
                <textarea asp-for="Content" required></textarea>
                <label asp-for="Content" id="textarea-input">Content</label>
            </div>

            <div class="input-field">
            <ion-icon name="bookmark-outline"></ion-icon>
                <select asp-for="FacultyId" asp-items="ViewBag.Faculties"></select>
                <label asp-for="FacultyId">Faculty</label>
            </div>

            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <div class="input-field image-field">
                    <ion-icon name="images-outline"></ion-icon>
                    <img src="@Url.Content(Model.ImageUrl)" alt="Current Image"/>
                    <label>Current Image</label>
                </div>
            }

            <div class="input-field">
                <ion-icon name="images-outline"></ion-icon>
                <input type="file" id="ImageFile" name="imageFile"/>
                <label for="ImageFile">Image File</label>
            </div>

            @if (!string.IsNullOrEmpty(Model.FilePath))
            {
                <div class="input-field">
                @* @Url.Content(Model.FilePath).Substring(9) *@
                    <a href="@Url.Content(Model.FilePath)" target="_blank" id="download">
                        <ion-icon name="download-outline" class="download-ani" style="font-size: 2rem; color: #035900;"></ion-icon>
                    </a>
                    <input type="text" value="@Url.Content(Model.FilePath).Substring(9)" required readonly="true"/>
                    <label for="download" style="user-select: auto;">Current Document File</label>
                </div>
            }

            <div class="input-field">
                <ion-icon name="document-attach-outline"></ion-icon>
                <input type="file" id="DocumentFile" name="documentFile"/>
                <label for="DocumentFile">New Document File (.doc or .pdf):</label>
            </div>

            <a asp-action="Index" class="back-icon"><ion-icon name="arrow-back-circle"></ion-icon></a>

            <button type="submit" class="submit-Btn">Save Changes</button>
        </form>
    </div>
</div>

@section Scripts {
    @* Add scripts as needed *@
}