@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="page-container ">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to confirm your account.
    </p>
    <a href="https://mail.google.com/" target="_blank" >Click here to check your email</a>
</div>

