@model WebEnterprise.ViewModels.EmailConfirmation

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="page-container">
    <div class="form-container">
        <form method="post" class="input-form" style="width: 80%">
            <h1>Check Email</h1>
            <div class="input-field">
                <ion-icon name="mail"></ion-icon>
                <input asp-for="Email" style="padding: 0 10px;" readonly="@(true)">
                <label>Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <a asp-action="Index" class="back-icon"><ion-icon name="arrow-back-circle"></ion-icon></a>
            <button type="submit" class="submit-Btn">Check</button>
        </form>
    </div>
</div>