@model WebEnterprise.Models.User
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit user";
}

<div class="page-container">
    <div class="form-container">
        <form asp-action="Edit" method="post" class="input-form">
            <h1>Edit User</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="input-field">
                <ion-icon name="mail"></ion-icon>
                <input asp-for="Email" readonly/>
                <label>Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="input-field">
                <ion-icon name="person"></ion-icon>
                <input asp-for="FullName" required />
                <label>Full Name</label>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="input-field">
                <ion-icon name="transgender"></ion-icon>
                <select asp-for="Gender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                <label asp-for="Gender">Gender</label>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="input-field">
                <ion-icon name="calendar"></ion-icon>
                <input asp-for="DoB" type="date" required />
                <label asp-for="DoB">Date of Birth</label>
                <span asp-validation-for="DoB" class="text-danger"></span>
            </div>

            <div class="input-field">
                <ion-icon name="people"></ion-icon>
                <select asp-for="Role" required>
                    @foreach (var role in ViewBag.Roles)
                    {
                        <option value="@role.Name">@role.Name</option>
                    }
                </select>
                <label asp-for="Role">Role</label>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="submit-form">
                <a asp-action="Index" style="--color: #ff2400;" id="form-Btn">Cancel</a>
                <button type="submit" style="--color: #28b3fe;" id="form-Btn">Save</button>
            </div>
        </form>
    </div>
</div>
