@model WebEnterprise.Models.User
@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit user";
}

<h1>Edit User</h1>
<form asp-action="Edit" method="post" class="needs-validation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="FullName" class="col-sm-3 col-form-label">Full Name</label>
        <div class="col-sm-9">
            <input asp-for="FullName" class="form-control" required />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Gender" class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-9">
            <select asp-for="Gender" class="form-control" required>
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="DoB" class="col-sm-3 col-form-label">Date of Birth</label>
        <div class="col-sm-9">
            <input asp-for="DoB" class="form-control" type="date" required />
            <span asp-validation-for="DoB" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Role" class="col-sm-3 col-form-label">Role</label>
        <div class="col-sm-9">
            <select asp-for="Role" class="form-control" required>
                <option value="">Select Role</option>
                @foreach (var role in ViewBag.Roles)
                {
                    <option value="@role.Name">@role.Name</option>
                }
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="offset-sm-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
