@model WebEnterprise.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password";
    Layout = "_Layout";
}

<h2 class="text-center">Reset password</h2>

<div class="container">
    <div class="row d-flex justify-content-center">
        <form method="post">
                @* <input asp-for="Token" hidden> *@
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Confirm email" >
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
    </div>
</div>