@model WebEnterprise.ViewModels.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset password";
    Layout = "_Layout";
}

<div class="container">
    <form method="post" class="input-form" id="border" style="margin: 10px;">
        <h1>Reset password</h1>
        @* <input asp-for="Token" hidden> *@
        <div class="input-field">
            <input asp-for="Email">
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="input-field">
            <input asp-for="Password">
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="input-field">
            <input asp-for="ConfirmPassword">
            <label asp-for="ConfirmPassword"></label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        @* <button type="submit" class="submit-Btn">Reset Password</button> *@
        <div class="submit-form">
            <a asp-action="Index" style="--color: #ff2400;" id="form-Btn">Cancel</a>
            <button type="submit" style="--color: #162938;" id="form-Btn">Reset Password</button>
        </div>
    </form>
</div>