:root {
    --primary-color: #162938;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #e5e5e5;
}
table {
    width: 70%;
    align-items: center ;
}

table a:hover{
    text-decoration: none;
}


table ion-icon {
    font-size: 2rem;
    margin-right: 10px;

}

#delete {
    color: #ff2400;
}

#delete:hover {
    transform: scale(.95);
}

#edit {
    color: var(--primary-color);  
}
#edit:hover {
    transform: scale(.95);
}


table td,
table th {
    overflow: hidden;
    margin: 15px;
    padding-left: 10px;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    height: 50px;
}

thead th {
    color: black;
    border: none;
    font-size: 1.4rem;
}

.card {
    border-radius: .5rem;
}

.table-scroll {
    border-radius: .5rem;
}

.table-scroll table thead th {
    font-size: 1.25rem;
}
thead {
    top: 0;
    position: sticky;
}