@model SchoolSystemData

@{
    ViewBag.Title = "Create semester";
    Layout = "_Layout";
}

<div class="page-container">
    <div class="form-container">
        <form asp-action="Create" class="input-form">
            <h2>Create</h2>

            <div class="input-field">
                <ion-icon name="calendar"></ion-icon>
                <input asp-for="ClosureDate" type="text" id='closureDatepicker' required autocomplete="off" />
                <label>Closure Date</label>
                <span asp-validation-for="ClosureDate" class="text-danger"></span>
            </div>

            <div class="input-field">
                <ion-icon name="calendar"></ion-icon>
                <input asp-for="AcademicYear" type="text" id="yearPiker" required autocomplete="off"/>
                <label>Academic Year</label>
                <span asp-validation-for="AcademicYear" class="text-danger"></span>
            </div>

            <button type="submit" class="submit-Btn" style="padding: 20px;">Create</button>

        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('#closureDatepicker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true
            });
        });

        $(document).ready(function () {
            $('#yearPiker').datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true
            });
        });     
    </script>
}
