@model SchoolSystemData

@{
    ViewBag.Title = "Delete semster";
    Layout = "_Layout";
}
<div class="page-container">

    <h1>@ViewBag.Title</h1>
    
    <h3 style="color: maroon;">Delete this time?</h3>

    <table class="delete-table" style="max-width: 650px;">
        <thead>
            <tr>
                <th>
                    Open Date
                </th>
                <th>
                    Closure Date
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.ClosureDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OpenDate)
                </td>
            </tr>
        </tbody>     
    </table>
    
    <form asp-action="Delete" method="post" class="delete-form">
        <input type="hidden" asp-for="Id" />
        <button type="submit" asp-action="Index" style="--color: #272727; --bgColor: #d8d8d8;">Back to List</button>
        <button type="submit" style="--color: #ff2400; --bgColor: #f22100; ">Delete</button>
    </form>
</div>


