@model List<WebEnterprise.Models.Assignment>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Assignments";
}

<div class="container mt-4">
    <h2>Assignments</h2>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary mb-2" href="@Url.Action("Assign", "Assignments")">New Assignment</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Faculty</th>
                        <th>Coordinator</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var assignment in Model)
                    {
                        <tr>
                            <td>@assignment.Faculty.Name</td>
                            <td>@assignment.Coordinator.FullName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
