@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}
@using Microsoft.VisualBasic
@using WebEnterprise.Constants



<div class="post-container">
    <div class="acticle-container">
        <div class="thumbnail">

        </div>
        <div class="acticle-title">
            <h1>Acticle Title</h1>
        </div>
        <div class="acticle-info">
            <h3>Category</h3>
            <h5>12/12/2024</h5>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                
                $(".product__panel-item").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}