@using Microsoft.VisualBasic
@using WebEnterprise.Constants
@model List<Contribution>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}




<div class="page-container">
    <h1>Student Contributions</h1>
        @if (Model.Any())
        {
            <div class="homepage-container">
                @foreach (var contribution in Model)
                {
                    <div class="contribute-item">
                        <div class="con-img" style="background-image: url('@Url.Content(contribution.ImageUrl)');"></div>

                        <div class="cont-title-time">

                            <h2>@contribution.Title</h2>

                            <div class="con-action">
                                <h3>@contribution.SubmissionDate</h3>
                            </div>
                        
                        </div>
                    
                        <div class="con-content">
                            <textarea readonly>@contribution.Content</textarea>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No approved contributions found.</p>
        }
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                
                $(".product__panel-item").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}