@model WebEnterprise.Models.ContributionClosureDate

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1 class="mb-4">Edit Submission Closure</h1>

<div class="card">
    <div class="card-body">
        <form asp-action="EditClosure">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date:</label>
                <input asp-for="StartDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">End Date:</label>
                <input asp-for="EndDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label">Faculty:</label>
                <select asp-for="FacultyId" class="form-control" asp-items="ViewBag.Faculties"></select>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="javascript:history.go(-1)" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>