@model WebEnterprise.Models.Faculty
@{
    ViewData["Title"] = "Edit Faculty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-container">
    <div class="form-container">
    <form asp-action="EditFaculty" method="post" class="input-form">
        <h1 >Edit Faculty</h1>
        <div class="input-field">
            <ion-icon name="bookmark"></ion-icon>
            <input type="text" id="Name" name="Name" value="@Model.Name" required>
            <label for="Name">Name</label>
        </div>
        
        <a asp-action="Index" class="back-icon"><ion-icon name="arrow-back-circle"></ion-icon></a>

        <button type="submit" class="submit-Btn">Save</button>
    </form>
    </div>
</div>
